@charset "UTF-8";

html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

header {
    background-color: rgba(59,56,56,0.75);
    height: 50px;
    width: 100%;
    display: block;
    top: 0;
    z-index: 10;
    /* ヘッダー固定 */
    position: fixed; 
}

.gridButton {
    overflow:hidden;
    list-style:none;
    margin: 0 auto;
    padding-left: 10px;
    /* 指定した要素を横並びにする(左) */
    float: left;
    padding: 17px 0px 17px 17px;
}

ul {
    overflow:hidden;
    list-style:none;
    margin: 0 auto;
    padding-right: 50px;
    /* 指定した要素を横並びにする(右) */
    float: right;
}

ul li {
    display: inline-block;
    padding: 13px 4px 13px 4px;
}

a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family: "Yu Gothic", "游ゴシック体";
}

.topButton {
    text-decoration: underline;
}

body {
    background: var(--black);
    height: 100%;
    margin: 0px;
    display: block；
}

.scroolView {
    display: flex;
    width: auto;
    height: 100%;
    max-height: 100%;
    padding: 0px 0px 50px 0px;
    position: absolute;
    overflow-x: visible;
    align-items:center;
}

.name {
    margin: 20px 0px;
}

.detail {
    width: 500px;
    font-size: 24px;
    text-align: center;
}

.list {
    color: #fff;
}

p {
    width: 500px;
    color: #fff;
    font-size: 50px;
    font-family: "PP Editorial New",serif;
    transform: scale(0.8, 1);
}

.instagramIcon {
    padding: 0px 0px 20px 0px;
}

.image {
    float: left;
    width: 25%;
    height: 25%;
}

:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}
